NEXT_PUBLIC_PRIVY_APP_ID=cme3x5qvu02quld0c9gwp500z
PRIVY_APP_SECRET=R1m6mP3AC2z9irgevbp6P2rXcD4y4yabHtnmmUrJqfq5dx2npGAw3iRU526xgr8MR2ezPtFenfvZh3n5z2LAtf3
# Session signer ID and secret are only needed for using session signers
# You can create these values in the Privy dashboard as described here https://docs.privy.io/wallets/using-wallets/session-signers/configure-session-signers
NEXT_PUBLIC_SESSION_SIGNER_ID=<your-session-signer-id>
SESSION_SIGNER_SECRET=<your-session-signer-secret>

